
<br>

<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Type</th>
      <th>Release date</th>
      <th>Exploitation term</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let airplane of airplanes">
      <td>{{airplane.id}}</td>
      <td>{{airplane.name}}</td>
      <td>{{airplane.type.airplaneModel}}</td>
      <td>{{airplane.releaseDate}}</td>
      <td>{{airplane.exploitationTerm}}</td>
    </tr>
  </tbody>
</table>
