<br>

<div *ngIf="pilot != undefined" class="card">
  <label>Id: {{pilot.id}}</label>
  <label>First Name:</label>
  <input [(ngModel)]="pilot.firstName" [readonly]="isReadonly">
  <label>Last Name:</label>
  <input [(ngModel)]="pilot.lastName" [readonly]="isReadonly">
  <label>Birthdate:</label>
  <input type="datetime" [(ngModel)]="pilot.birthdate" [readonly]="isReadonly">
  <label>Experience:</label>
  <input [(ngModel)]="pilot.experience" [readonly]="isReadonly">
</div>

<button (click)="deletePilot()">Delete</button>

<button (click)="editPilot()" *ngIf="isReadonly">Edit</button>
<button (click)="updatePilot(pilot.id)" *ngIf="!isReadonly">Save changes</button>

