@import '~bootstrap/dist/css/bootstrap.min.css';

.delete {
    margin-right: 20px;
}

.field {
    display: flex;
}

.field label {
    width: 150px;
    font-size: 19px;
}

.field input {
    width: 300px;
}

.error {
    color: red;
}