

<br>

<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th>Id</th>
      <th>Pilot</th>
      <th>Stewardesses</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let crew of crews">
      <td>{{crew.id}}</td>
      <td>{{crew.pilot.firstName + ' ' + crew.pilot.lastName}}</td>
      <td>
          <div *ngFor="let stewardesse of crew.stewardesses">
            {{stewardesse.firstName + ' ' + stewardesse.lastName}}
          </div>
      </td>
    </tr>
  </tbody>
</table>
