<br>

<div *ngIf="stewardesse != undefined">

  <div class="field">
    <label>Id: {{stewardesse.id}}</label>
  </div>

  <div class="field">
    <label>First Name:</label>

    <input 
      [(ngModel)]="stewardesse.firstName" 
      [readonly]="isReadonly"
      class="form-control"
      #firstNameInput = "ngModel"
      required
      minlength="3">

      <div *ngIf="firstNameInput.invalid && firstNameInput.dirty">
        <div *ngIf="firstNameInput.errors.required" class="error">
            Field can't be empty!
        </div>
        <div *ngIf="firstNameInput.errors.minlength" class="error">
            Min length is 3
        </div>
      </div>
  </div>

  <div class="field">
    <label>Last Name:</label>

    <input 
      [(ngModel)]="stewardesse.lastName" 
      [readonly]="isReadonly"
      class="form-control"
      #lastNameInput = "ngModel"
      required
      minlength="3">

      <div *ngIf="lastNameInput.invalid && lastNameInput.dirty">
        <div *ngIf="lastNameInput.errors.required" class="error">
            Field can't be empty!
        </div>
        <div *ngIf="lastNameInput.errors.minlength" class="error">
            Min length is 3
        </div>
      </div>
  </div>

  <div class="field">
    <label>Birthdate:</label>

    <input type="datetime" 
      [(ngModel)]="stewardesse.birthdate" 
      [readonly]="isReadonly"
      class="form-control"
      #birthdateInput = "ngModel"
      required
      pattern="^\d{4}-\d{2}-\d{2}$">

      <div *ngIf="birthdateInput.invalid && birthdateInput.dirty">
        <div *ngIf="birthdateInput.errors.required" class="error">
            Field can't be empty!
        </div>
        <div *ngIf="birthdateInput.errors.pattern" class="error">
            Wrong format (yyyy-mm-dd)
        </div>
      </div>
  </div>

  <br>

<button class="btn btn-danger delete" (click)="deleteStewardesse()">Delete</button>

<button class="btn btn-warning" (click)="editStewardesse()" *ngIf="isReadonly">Edit</button>
<button class="btn btn-success" (click)="updateStewardesse(stewardesse.id)" *ngIf="!isReadonly">Save changes</button>

</div>

<h2 *ngIf="stewardesse == undefined">Not found!</h2>



